.title
{
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.container
{
  width: 550px;
  border: 1px solid green;
  border-radius: 12px;
  margin-top: 30px;
}
.finish
{
  margin-bottom: 4px;
}
