<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <ion-label class="label">Name :</ion-label>
                </div>
                <div class="col-md-8">
                  <ion-input placeholder="User name"></ion-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <ion-label class="label">Email :</ion-label>
                </div>
                <div class="col-md-8">
                  <ion-input placeholder="Demo@gmail.com"></ion-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <ion-label class="label">Password :</ion-label>
                </div>
                <div class="col-md-8">
                  <ion-input placeholder="Password"></ion-input>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <ion-label class="label">ConfirmPassword :</ion-label>
                </div>
                <div class="col-md-8">
                  <ion-input placeholder="Password"></ion-input>
                </div>
              </div>
              <hr>
             <div class="row" style="margin-bottom: 8px;">
               <div class="col-md-3">
               </div>
               <div class="col-md-3">
                <button class="btn btn-success" expand="block">Submit</button>
              </div>
              <div class="col-md-3">
               <button class="btn btn-danger" expand="block">Cancel</button>
               </div>
             </div>
              </div>


              <!-- <ion-button [routerLink]="['/login']"  color="danger">Sign In</ion-button> -->
            </div>
          </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

